In [1]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np


data = pd.read_csv("Glassdoor_Gender_Pay_Gap.csv")

In [2]:
data.head()

,JobTitle,Gender,Age,PerfEval,Education,Dept,Seniority,BasePay,Bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

In [4]:
data.shape

(1000, 9)

In [7]:
unique_job_titles = data['JobTitle'].nunique()
unique_job_titles

10

In [9]:
data["JobTitle"].value_counts()

Marketing Associate    118
Software Engineer      109
Financial Analyst      107
Data Scientist         107
Graphic Designer        98
IT                      96
Sales Associate         94
Driver                  91
Warehouse Associate     90
Manager                 90
Name: JobTitle, dtype: int64

In [10]:
data["Gender"].value_counts()

Male      532
Female    468
Name: Gender, dtype: int64

In [12]:
data["PerfEval"].value_counts()

5    209
4    207
1    198
3    194
2    192
Name: PerfEval, dtype: int64

In [13]:
data["Seniority"].value_counts()

3    219
2    209
1    195
5    193
4    184
Name: Seniority, dtype: int64

In [14]:
data["Dept"].value_counts()

Operations        210
Sales             207
Management        198
Administration    193
Engineering       192
Name: Dept, dtype: int64

In [15]:
data["Education"].value_counts()

High School    265
Masters        256
College        241
PhD            238
Name: Education, dtype: int64

In [17]:
for col in data.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,9)))
    
#no data is missing

JobTitle - 0.0%
Gender - 0.0%
Age - 0.0%
PerfEval - 0.0%
Education - 0.0%
Dept - 0.0%
Seniority - 0.0%
BasePay - 0.0%
Bonus - 0.0%

In [18]:
data["BasePay"].describe()

count      1000.000000
mean      94472.653000
std       25337.493272
min       34208.000000
25%       76850.250000
50%       93327.500000
75%      111558.000000
max      179726.000000
Name: BasePay, dtype: float64

In [19]:
data["Bonus"].describe()

count     1000.000000
mean      6467.161000
std       2004.377365
min       1703.000000
25%       4849.500000
50%       6507.000000
75%       8026.000000
max      11293.000000
Name: Bonus, dtype: float64

In [20]:
data["Age"].describe()

count    1000.000000
mean       41.393000
std        14.294856
min        18.000000
25%        29.000000
50%        41.000000
75%        54.250000
max        65.000000
Name: Age, dtype: float64